include LICENSE
include README.md
include requirements.txt
recursive-include radonpy *.py
recursive-include radonpy/ff/ff_dat *.json
recursive-include radonpy/core/amino *.pdb
recursive-include radonpy/core/ter *.json
